.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* display: flex; */
  display: none;
  padding: 0 19px;
  /*align-items: center;
  justify-content: center;*/
}

.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #ffff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__heading {
  color: black;
  font-size: 24px;
  font-weight: 900;
}
